.editable {
	.edit {
		display: none;
	}
	textarea {
		width: 100%;
		min-height: 400px;
	}
	input {
	}
	.edit_link {
		float: right;
	}
}

button.top {
	margin-top: 0.5em;
	float: right;
}
button.bottom {
	display: block;
	text-align: center;
	margin: auto;
}

#article {
	padding: 2em;
	.titleWrap {
		.editable; // XXX: SET EDITABLE
		.title{
			text-decoration: underline;
		}
	}
	.contentWrap {
		.editable; // XXX: SET EDITABLE
		.title{
			text-decoration: underline;
		}
	}
}
