{% extends "BASE.html" %}
{% set pageName = 'PageList' %}
{% block title %}Welcome to West GA RESA{% endblock %}

{% block body %}
  <button class="createPage top">Create New</button>
  <h2>Pages</h2>
  <div class="clear"></div>
  <table class="table">
    <tr>
      <!--<th>Id</th>-->
      <th>Simple Name</th>
      <th>Edit</th>
      <th>Date</th>
    </tr>
    {% for p in pages %}
      <tr>
        <!--<td>{{p.id}}</td>-->
        <td><a href="{{p.get_url()}}">{{p.name}}</a></td>
        <td><a href="{{p.get_edit_url()}}">edit</a></td>
        <td>{{p.datetime_added|datetime}}</td>
      </tr>
    {% endfor %}
  </table>
  <button class="createPage bottom">Create New</button>
{% endblock body %}

