{% extends "BASE.html" %}
{% set pageName = 'ArticleListPage' %}
{% block title %}Welcome to West GA RESA{% endblock %}

{% block extraBody %}
<script type="text/javascript">
  window.article = new Article({
    id: {{article.id}},
    datetime_added: '{{article.datetime_added}}',
    datetime_edited: '{{article.datetime_added}}',
    title: '{{article.title}}',
    url_key: '{{article.url_key}}',
    content_mkdown: '{{article.content_mkdown}}',
    content_html: '{{article.content_html|safe}}',
  });
  window.articleview = new ArticleView({
    model: window.article,
  });
</script>
{% endblock extraBody %}

{% block body %}
  <div id="article" data-id="{{article.id}}">
    <h2 class="title">{{article.title}}</h2>
    <input class="title_edit" type="text" value="{{article.title}}">
    <div class="content"> 
      {{article.content_html|safe}}
    </div>
    <textarea class="content_edit">{{article.content_mkdown}}</textarea>
  </div>
{% endblock body %}

