{% block header %}
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="span12"> 
        <hr>

        <ul class="navigational">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/purchasing">Purchasing</a>
            <ul>
              <li>Foo</li>
              <li>Bar</li>
            </ul>
          </li>
          <li>
            <a href="/learning">Pro Learning</a>
            <ul>
              <li>Foo</li>
              <li>Bar</li>
            </ul>
          </li>
          <li>
            <a href="/About">About</a>
            <ul>
              <li>Staff</li>
              <li>FAQ</li>
            </ul>
          </li>
          <li>
            Services
            <ul>
              <li>Foo</li>
              <li>Bar</li>
            </ul>
          </li>
          <li>
            List Item
            <ul>
              <li>Foo</li>
              <li>Bar</li>
            </ul>
          </li>
          <li>
            List Item
            <ul>
              <li>Foo</li>
              <li>Bar</li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock header %}
