{% block header %}
<div id="footer">
  <div class="container">

    <div class="row" id="contact">
      <div class="span4">
        <ul>
          <li>
            <a href="mailto:info@garesa.org"><i 
               class="icon-envelope-alt"></i>&nbsp;&nbsp;info@garesa.org</a>
          </li>
          <li>
            <a href="tel:+17705832528"><i 
               class="icon-phone"></i>&nbsp;&nbsp;770&ndash;583&ndash;2528</a>
          </li>
          <li>
            <i class="icon-print"></i>
            &nbsp;&nbsp;770&ndash;583&ndash;3223 (fax)
          </li>
        </ul>
      </div>
      <div class="span4 center">
        <ul>
          <li>
            <i class="icon-home"></i><br>
            <a href="/address">99 Brown School Drive<br>
              Grantville, GA, 30220</a>
          </li>
        </ul>
      </div>
      <div class="span4 center" id="socialWrap">
        <div class="span4 center" id="social">
          <a href="#"><img 
              src="/static/assets/img/icons/social/facebook_white.png"></a>

          <a href="#"><img 
              src="/static/assets/img/icons/social/twitter_white.png"></a>
        </div>

      </div>
    </div>

    <hr>

    <div class="row" id="sitemapLite">
      <div class="span12"> 

        <ul class="navigational">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/page/purchasing">Purchasing</a>
            <ul>
              <li>Link 1</li>
              <li>Link 2</li>
            </ul>
          </li>
          <li>
            <a href="/page/learning">Pro Learning</a>
            <ul>
              <li>Link 1</li>
              <li>Link 2</li>
            </ul>
          </li>
          <li>
            <a href="/page/about">About</a>
            <ul>
              <li>Staff</li>
              <li>FAQ</li>
            </ul>
          </li>
          <li>
            <a href="/page/services">About</a>
            <ul>
              <li>Link 1</li>
              <li>Link 2</li>
            </ul>
          </li>
          <li>
            Another Page
            <ul>
              <li>Link 1</li>
              <li>Link 2</li>
            </ul>
          </li>
          <li>
            Another Page
            <ul>
              <li>Link 1</li>
              <li>Link 2</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock header %}
